<div class="container_reg edit--user--container">
<h2>Редактирование профиля</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <p>Ник</p>
      <%= f.text_field :username, autocomplete: "username" %>
  </div>
  <div class="field--avatar">
    <p>Изменить аватар</p>
    <%= f.file_field :avatar, class: 'edit--avatar' %>
  </div>

  <div class="field">
    <p>Почта</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <p>Пароль</p>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <p>Поддвердите пароль</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <p>Текущий пароль</p>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Обновить профиль", :class => 'submit_edit' %>
    <%= link_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'delete--link' %>

  </div>
<% end %>





</div>
