<div class="reg_container">
<div class="reg_image">
</div>
<div class="reg_info">
  <div class="reg_inputs">


  <h2 class="registration">Пользоваться «Florum» удобнее, если у вас есть профиль</h2>
  <p class="reg--text">Вы сможете сохранять статьи в закладки и помогать пользователям в их пути</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
      <%= f.text_field :username, autocomplete: "username", placeholder: "Логин", class: 'text--field'%>
  </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Электронная почта/ Номер телефона" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Придумайте пароль" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Подтвердите пароль" %>
  </div>
  <div class="field--avatar">
  <%= f.file_field :avatar, class: 'custom-file-input' %>
  </div>
  <div class="actions">
    <%= f.submit "Зарегестрироваться", :class => 'submit_reg' %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
