<div className="cont_art">
<%= react_component 'O_ArticleShow', {article: @article, hashtag: @hashtag, article_comments: @article_comments} %>

</div>
<div className="end--article">
<%= react_component 'M_EndOfArticle', {hashtag: @hashtag} %>
</div>
<h2>Comments</h2>
<p><%= render @article.article_comments %><p>
<h2>Add a comment:</h2>
<%= render "article_comments/form" %>
<%= react_component 'O_Footer' %>
