<div class="container_body_posts">

    <div class="container_content_users">
      <h1 class="actual margin">Пользователи</h1>
<table class="margin--users">
  <div class="post_table">
    <p class="Id--users">ID</p>
    <p class="Avatar--users">Аватар</p>
    <p class="email--users">Почта</p>
    <p class="email--users">Ник</p>
      <p class="table_date--users">Посты</p>
  </div>
  <tbody>
    <% @users.each do |user| %>
    <div class="window--admin ">
      <div class="Id">
        <%= user.id %>
      </div>
      <div class="Id">
  <%= link_to(image_tag(user.avatar.small_thumb.url, alt: 'Avatar', :class => "avatar_users"), user) if user.avatar? %>
      </div>
<div class="email">
        <%= link_to user.email, user %>
        </div>
        <div class="email">
        <%= user.username %>
        </div>
        <div class="count">
      <%= user.posts.count %>

</div>
      </div>
    <% end %>
  </tbody>
</table>
</div>
</div>
