<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
      <%= form.label :sort_id %>
      <%= form.select :sort_id, Sort.pluck(:name, :id) %>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
  	<%= form.label :picture %>
  	<%= form.file_field :picture %>
  </div>
  <div class="field">
      <%= form.label :content %>
      <%= form.cktext_area :content %>
    </div>
  <div class="field">
  	<%= form.label :remark %>
  	<%= form.cktext_area :remark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
