<p id="notice"> <%= notice %></p> <p>

  <%= react_component 'O_ArticleShow', {story: @story, sort: @sort} %>
  <% pre_mine = @story.mines.find { |mine| mine.user_id == current_user.id} %>
  <% if pre_mine %>
      <%= button_to 'Remove from Favorite', story_mine_path(@story, pre_mine), method: :delete %>
  <% else %>
      <%= button_to 'Add to Favorite', story_mines_path(@story), method: :story %>
  <% end %>
  <td><%= link_to 'Edit', edit_story_path(@story) %></td>
  <td><%= link_to 'Destroy', @story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</p>
  <div class="all_article_show">
    <div class="comment--story">
      <div class="comment--text--story">
        <h2 class="comment--h2--story">Комментарии  <h2 class="comment--h2--story--grey"><%= @story.points.count %></h2></h2>
      </div>
      <% @story.points.each do |point| %>
      <p>
        <%= point.body %>
      </p>
    <p>
       <%= User.find(current_user.id).username %>
      </p>
      <p>
  <%= link_to 'Destroy Comment', [point.story, point],
                       :confirm => 'Are you sure?',
                       :method => :delete %>
       </p>

      <% end %>
      <%= render "points/form" %>


    </div>
  </div>

<%= react_component 'O_Footer' %>
