
  <div class="reg_container">
  <div class="reg_image">
  </div>
  <div class="reg_info">
    <div class="reg_inputs">
      <h2 class="login" >Войти во «Florum»</h2>
      <p class="reg--text">Вперед за новыми знаниями!</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Электоронная почта/Номер телефона" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Введите пароль" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <p><%= f.check_box :remember_me %>
            Запомните меня</p>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Войти", :class => 'sign_in' %>
        </div>
      <% end %>
      <div class="links--log">
        <%= render "devise/shared/links" %>
      </div>
  </div>
  </div>
  </div>
