<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= react_component 'O_Postform', { post: @post, categories: @categories } %>

  <div>
    <p class="text_new">Превью</p>
  <%= form.file_field :image %>
  </div>
  <div class="field">
    <p class="text_new">Статус</p>
      <%= form.select :category_id, Category.pluck(:name, :id) %>
  </div>
  <div class="field">
    <p class="text_new">Контент</p>
    <%= form.cktext_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
