<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new_post">
<div class="left_new_post">
  <%= react_component 'O_Postform', { post: @post, categories: @categories } %>
  <div class="preview--img">
  <%= form.file_field :image, class: 'preview--window' %>
  </div>
  <div class="field">
    <p class="text_new">Контент</p>
    <%= form.cktext_area :content %>
  </div>
  <div class="actions">
    <%= form.submit value="Опубликовать", :class => "button--uploud" %>
  </div>
  </div>
  <div class="right_new_post">
    <div class="field">
      <p class="text_new">Категория</p>
        <%= form.select :category_id, Category.pluck(:name, :id) %>
    </div>
  </div>
    </div>

<% end %>
