
<div class="container_body_posts">
  <div class="content_posts">
    <div class="buttons">
      <% if notice %>
      <p class="notice"><%= notice %></p>
      <% elsif alert %>
      <p class="alert"><%= alert %></p>
      <% end %>
          <%= yield %>
    </div>
    <div class="categories">
      <div class="all_posts">


<%= link_to 'Все', posts_path %> </div>
<% Category.all.each do |cat| %>
   <div class="cat">
	<%= link_to cat.name, posts_path(category: cat.name) %> <br>
  </div>
<% end %>
    </div>


    <div class="container_content">
      <div class="container_posts">
    <% @posts.each do |post| %>

    <div class="window">
        <div class="preview">
          <%= image_tag(post.image.url, alt: 'Image') if post.image? %>
          <div class="title_preview">
            <%= link_to post.name.length >= 40 ? post.name.slice(0..40) + '...' : post.name, post, :class => "title_preview"%>
          </div>
       </div>
          <%= link_to(image_tag(post.user.avatar.small_thumb.url, alt: 'Avatar', :class => "avatar_round"), post.user) if post.user.avatar? %>

          <div class="table_date">
          <%= post.created_at.to_date %>
          </div>
          <div class="table_tag">
            <td><%= post.category.name %></td>
          </div>
          <div class="active">
          <div class="element_active_table">
            <%= post.likes.count %>  <%= image_tag 'like.svg', :class => "icon"  %>
          </div>
          <div class="element_active_table">
            <%= post.comments.count %>  <%= image_tag 'comment.svg', :class => "icon"  %>
          </div>
          </div>


      <div class="table_author">
      </div>
<div class="table_title">
    <%= link_to post do %>

<% end %>
</div>




<div class="table_active">



<% if user_signed_in? && post.user_id == current_user.id %>
  <div class="active_buttons">
    <div class="element_active_table_2">
      <%= link_to edit_post_path(post) do %>
       <%= image_tag 'edit.svg', :class => "icon"  %>
      <% end %>
      </div>
          <div class="element_active_table_2">
      <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
       <%= image_tag 'delete.svg', :class => "icon"  %>
      <% end %>
        </div>

      </div>
        <% end %>

</div>

    </div>




    <% end %>
    </div>
      </div>
    <br>

  </div>

</div>
