
<div class="container_body_show">
  <div class="side_bar">
    <div class="menu">
      <%= link_to "Публикации", posts_path %> <br>
    </div>
    <% if user_signed_in? && current_user.isadmin == true %>
    <div class="menu">
      <%= link_to "Комментарии", answers_path %>
    </div>
    <% end %>
    <div class="menu">
      <%= link_to "Теги", categories_path %> <br>
    </div>
    <div class="menu">
      <%= link_to "Люди", users_path %>
    </div>
    <div class="tools">
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>

    </div>
  </div>
  <div class="content_posts_show">
  <div class="">
    <div class="images">
    <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
    </div>

    <div class="comment_tools">
      <%= link_to 'Назад', posts_path %>
      <div class="tools_edit">

      <% if user_signed_in? && @post.user.id == current_user.id %>
    <%= link_to edit_post_path do %>
     <%= image_tag 'edit.svg', :class => "icon"  %>
    <% end %>
    <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
     <%= image_tag 'delete.svg', :class => "icon"  %>
    <% end %>
      <% end %>

      </div>
    </div>
  </div>
<div class="title_box">

  <p class="Title_show">

    <strong></strong>
    <%= @post.name %>
  </p>





</div>


<p class="author">
  <strong></strong>
  <%= @post.title %>
</p>
<p>
  <strong></strong>
  <div class="category">


  <%= @post.category.name %>
  </div>

<div class="content_text_show">
  <p>

    <%= @post.content.html_safe %>
  </p>

<div class="likes">

<div class="likes_butt">


<p><%= @post.likes.count %> </p>


<% if user_signed_in? %>
  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
  <%= button_to post_like_path(@post, pre_like), method: :delete do%>
	<div class="icon">
 <%= image_tag 'like.svg', :class => "icon"  %>
	</div>
<% end %>
  <% else %>

  <%= button_to post_likes_path(@post), method: :post do%>
	<div class="icon">
 <%= image_tag 'like.svg', :class => "icon"  %>
	</div>
<% end %> <% end %>
<% end %>
<div class="favorite">


<% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
<% if pre_favorite %>
    <%= button_to 'Удалить из избранного', post_favorite_path(@post, pre_favorite), method: :delete %>
<% else %>
    <%= button_to 'Добавить в избранное', post_favorites_path(@post), method: :post %>
<% end %>
</div>

</div>
  <%= @post.user.username %>
</div>
</div>

<h2 class="answer">Комментарии:</h2>
<%= render @post.comments %>

<h2>Добавить комментарий:</h2>
<!--  -->
<% if user_signed_in? %>
<%= render "comments/form" %>
<% else %>
<p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
<% end %>


</div>
