<div class="content_posts_show">
  <div class="content_posts show">
    <%= react_component 'O_PostView', { post: @post, user: @user, category: @category} %>
    <h2 class="answer">Комментарии:</h2>
<%= render @post.comments %>

<h2>Добавить комментарий:</h2>
<!--  -->
<% if user_signed_in? %>
<%= render "comments/form" %>
<% else %>
<p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
<% end %>
  </div>
</div>
