<title>Florum</title>
<body class="about_color">


 <%= render 'header' %>
 <div class="container_body">
   <div class="main_container">
     <div class="box_main_text">
       <p class="main_text"> Florum – тематический медиа-сервис представляет собой платформу для
         общения любителей растений с системой вопросов и ответов.
         Это комьюнити, где находят соумышленников и делятся знаниями</p>
     </div>
   </div>
 </div>


 <div class="container_second round">
   <div class="gradient">
     <%= image_tag 'gradient2.png'  %>
   </div>



<div class="statistic">
 <div class="information">
  <p class="information_text">120</p>
  <p class="respondents">респондентов</p>
 </div>
</div>
<div class="statistic2">
 <div class="information">
  <p class="information_text second">10</p>
  <p class="respondents second_respond">интервью</p>
 </div>
</div>

 <div class="container_all">
<p class="big">Исследование</p>
<div class="reserch_flex">
  <div class="reserch">
    <p class="reserch_text">Чаще всего люди мало осведомлены <br>в сфере садоводства</p>
    <%= image_tag 'reserch_img1.svg'  %>
    <p class="mini"> 82% </p>
  </div>
  <div class="reserch">
    <p class="reserch_text">Чаще люди занимаются уходом <br>
за растениями два раза в неделю</p>
    <%= image_tag 'second_s.svg'  %>
    <p class="mini"> 43% </p>
  </div>
  <div class="gradient2">
    <%= image_tag 'gradient3.png'  %>
  </div>
</div>
<div class="reserch_flex">
  <div class="reserch">
    <p class="reserch_text">Чаще всего люди ищут информацию  <br>об уходе за растениями</p>
    <%= image_tag 'research_2.svg'  %>
    <p class="mini"> 86% </p>
  </div>
  <div class="reserch">
    <p class="reserch_text">В основном люди используют <br> растения для декора</p>
    <%= image_tag 'research_3.svg'  %>
    <p class="mini"> 74% </p>
  </div>
</div>

<p class="big">Вопросы интервью</p>
<div class="ask">
  <div class="image">
<%= image_tag 'point.svg'  %>
  </div>
 <p class="main_usual"> Как вы считаете, какие функции нашего <br> продукта могли бы помочь вам в уходе
    <br>за растениями?</p>
</div>
<div class="ask">
  <div class="image">
<%= image_tag 'point.svg'  %>
  </div>
 <p class="main_usual"> С какими проблемами вы сталкиваетесь, <br>когда занимаетесь цветоводством?</p>
</div><div class="ask">
  <div class="image">
<%= image_tag 'point.svg'  %>
  </div>
 <p class="main_usual"> С какой целью вы занимаетесь садоводством?</p>
</div><div class="ask down">
  <div class="image">
<%= image_tag 'point.svg'  %>
  </div>
 <p class="main_usual"> В каких источниках вы бы стали искать информацию <br>о растениях и уходе за ними?</p>
</div>
<div class="image_interview"></div>

<p class="big">Проблемы</p>
<div class="clouds">
  <%= image_tag 'cloud1.svg'  %>
  <p class="mini up"> *Трудности при поиске точного ответа</p>

</div>
<div class="clouds seconden">
  <div class="box">
    <%= image_tag 'cloud2.svg'  %>
    <p class="mini up"> *Сравнение разных мнений</p>
  </div>

</div>
<div class="clouds">
  <%= image_tag 'cloud3.svg'  %>
  <p class="mini up"> *Проблема с нахождением людей с одной целью</p>

</div>
<div class="user">


<%= image_tag 'userstory.svg'  %>

</div>
<div class="box_user">
<div class="box_green" style="margin-left: 86px;">
<div class="Ira">
<%= image_tag 'Ira2.png'  %>
</div>
  <div class="main_box_user">
Ира, 25 лет
  </div>
<div class="box_text">
  Я хочу быстро получать ответы на свои вопросы, чтобы <br>не тратить на это свое время
</div>
</div>
<div class="box_green">
  <div class="Vika">
  <%= image_tag 'Vika2.png'  %>
  </div>
  <div class="main_box_user">
Вика, 21 год
  </div>
<div class="box_text">
Я хочу находить людей <br>с похожими интересами, <br>чтобы обмениваться опытом
</div>
</div>
</div>

<p class="big">Целевая аудитория</p>

<div class="reserch_flex">
  <div class="reserch">
    <p class="little_text">Основная</p>
    <p class="after_little_text">Люди, которые на постоянной основе <br>ухаживают и следят за растениями</p>
  </div>
  <div class="reserch">
    <p class="little_text">Широкая</p>
    <p class="after_little_text">Любители ухаживать за растениями</p>
  </div>
</div>
<div class="reserch_flex">
  <div class="reserch">
    <p class="little_text">Косвенная</p>
    <p class="after_little_text">Любители растений</p>
  </div>
  <div class="reserch">
    <p class="little_text">Узкая</p>
    <p class="after_little_text">Люди, занимающиеся садоводством</p>
  </div>
</div>
<div class="height">

</div>
<div class="box_problems">
  <p class="big">Как мы хотим решать проблемы?</p>
</div>
<div class="solutions_flex_wrap">


<div class="solutions">
  <div class="solutions_flex">
    <%= image_tag 'number1.svg'  %>
    <div class="text_solutions">
<p class="little_text">Друзья</p>
<p class="after_little_text">База участников, среди которых <br>можно найти соумышленника <br>
с похожими интересами </p>
    </div>
  </div>
  <div class="solutions_flex">
    <%= image_tag 'number2.svg'  %>
    <div class="text_solutions">
<p class="little_text">Общение</p>
<p class="after_little_text">Открытые темы для обсуждения, <br>
в которых участвуют люди <br>с разным уровнем знаний и подходом </p>
    </div>
  </div>
  <div class="solutions_flex">
    <%= image_tag 'number3.svg'  %>
    <div class="text_solutions">
<p class="little_text">Уверенность</p>
<p class="after_little_text">Проверенные ответы <br>
от профессионалов своего дела</p>
    </div>
  </div>
</div>
<div class="line_1"> </div>
<div class="line_2"> </div>
<div class="solutions_images">
  <div class="solutions_image_1">
  <%= image_tag 'parti.png'  %>
  </div>
  <div class="solutions_image_2">
  <%= image_tag 'ask2.png'  %>
  </div>
  <div class="solutions_image_3">
  <%= image_tag 'mark.png'  %>
  </div>
</div>

 </div>


 </div>
<div class="gradient3">
  <%= image_tag 'frame_white.png'  %>
</div>

 </div>

 <div class="container_all green">
   <div class="text_green">
     <p class="big white">Что мы используем</p>
   </div>
<div class="flex_methods">
<div class="tags">
<div class="box_for_tags">
  <div class="line">
    <div class="tag" id="1rst"> фильтры </div>
<div class="tag"> сортировка </div>
<div class="ask_phone">
<%= image_tag 'ask_phone2.png'  %>
</div>
  </div>
  <div class="line">

<div class="tag" id="second"> список участников </div>
<div class="ask_phone2">
<%= image_tag 'partisep.png'  %>
</div>
  </div>

  

  <div class="line">

<div class="tag" id="forth"> поиск </div>
<div class="ask_phone4" >
<%= image_tag 'search.png'  %>
</div>
  </div>

  <div class="line">

<div class="tag" id="third"> оценка ответа </div>
<div class="ask_phone3">
<%= image_tag 'markphone.png'  %>
</div>
  </div>

  <div class="line">

<div class="tag_book" id="fifth"> справочник </div>
<div class="ask_phone5">
<%= image_tag 'book.png'  %>
</div>
  </div>

</div>
</div>
<!--  -->
</div>

<div class="contacts">
<div class="Sasha"> </div>
<div class="Mila"> </div>
</div>

 </div>
<div class="container_body">
  HSE ADC 2021
</div>

</body>
