
<div class="container_categories">
  <div class="tags--head">
    <h1>Теги</h1>
    <%= link_to 'Новый тег', new_category_path, :class => "button--tags" %>
  </div>
  <p>Количество категорий может пополнятся <br>по мере необходимости</p>

    <div class="categories--content">
    <% @categories.each do |category| %>
       <div class="category_container">
        <%=link_to category.name.html_safe, category, :class => "icon--name" %>
       <div class="actions--cate">
         <%= link_to edit_category_path(category) do %>
          <%= image_tag 'EditIcon.svg', :class => "icon"  %>
         <% end %>
         <%= link_to  category, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= image_tag 'Trash.svg', :class => "icon"  %>
         <% end %>
       </div>
    </div>
    <% end %>
    </div>
<br>
</div>
