<!DOCTYPE html>
<html>
  <head>
    <title>Florum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body>
  <nav>
  <div class="right_section_navbar">
    <div class="logo">
      <%= link_to posts_path do %>
      <%= image_tag 'logo.png', :class => "logo"  %>
      <% end %>
    </div>
    <div class="right_links">
      <%= link_to posts_path do %>
        <%= link_to "Вопросы", posts_path, :class => "right_link" %>
        <% end %>
        <%= link_to articles_path do %>
        <%= link_to "Наши статьи", articles_path %>
      <% end %>
    </div>
  </div>
  <div class="left_buttons">
    <div class="right_buttons">
     <% if user_signed_in?%>
       <div class="NewPost">
         <%= link_to 'Задать вопрос', new_post_path, :class => "white"  %>
       </div>
     <% end %>
    </div>
    <div class="account">
     <% if user_signed_in? %>
       <%= link_to current_user do %>
       <%= image_tag (current_user.avatar.small_thumb.url), :class => "avatar_round" %>
     <% end %>
     <% else %>
        <%= link_to 'Войти', new_user_session_path %> | <%= link_to 'Зарегистрироваться', new_user_registration_path %>
     <% end %>
    </div>
  </div>
  </nav>

    <%= yield %>


  </body>
</html>
