<!DOCTYPE html>
<html>
  <head>
    <title>Florum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body>
  <%= react_component 'O_Header', {current_user: @current_user} %>


    <!-- <div class="right_buttons">
     <% if user_signed_in?%>
           <%= react_component 'A_Button'%>
     <% end %>
    </div>
    <div class="account">
     <% if user_signed_in? %>
       <%= link_to current_user do %>
       <%= image_tag (current_user.avatar.small_thumb.url), :class => "avatar_round" %>
     <% end %>
     <% else %>
        <%= link_to 'Войти', new_user_session_path %> | <%= link_to 'Зарегистрироваться', new_user_registration_path %>
     <% end %>
    </div>
  </div>
  </nav>  -->

    <%= yield %>


  </body>
</html>
